<!doctype html>
<html>

<head>
    <title>{{ title }} - Sample App</title>
</head>

<body>
    {% include '_nav_.html' %}
    <h1>Sample App - Python, Flask, Jinja, Flask-WTF-forms</h1>
    <h2>Page - {{ title }}</h2>
    <h3>Please Sign In</h3> 
    <form action="" method="post">
        <!-- {{ form.hidden_tag() }} --> Some tag need with SecretKey
        {{ form.csrf_token }}
        <p>
            {{ form.username.label }}
            {{ form.username(size=32, placeholder = "Enter username") }}
        </p>
        <p>
          {{ form.password.label }}
          {{ form.password(size=32, placeholder = "Enter password") }}
      </p>

          <p>{{ form.submit() }}</p>
    </form>
</body>

</html>